nav
  color white
  font-family 'Lato', sans-serif
  font-size 0.9rem
  font-weight 700
  ul
    margin 0
    li
      list-style none

.project-list
  cursor pointer
  height auto
  left 20px
  position absolute
  top 20px
  transition all 0.5s ease
  z-index 0

.experiment-list
  height auto
  position absolute
  right 20px
  top 20px
  z-index 0
